body {
    max-width: 100vw;
}
header {
    background-color: #010E26;
    color: #16498C;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: #16498C;
    color: #010E26;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    border: 1px solid #183C63;
    margin: 16px;
    gap: 16px;
    padding: 16px;
    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img {
    width: 80px;
    height: 80px;
}

.artigo-autor {
    font-weight: bold;
}